name: Test the scripts
on: push
jobs:
  Pytesting:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4
      
      - name: Test scripts
        run: ./Routines.bash test_scripts
